@import '~@/assets/css/mixin.scss';
@import '~@/assets/css/function.scss';
.lists {
  &-item {
    padding: half(16px) half(32px) half(30px);
    background: #fff;
    overflow: hidden;
    position: relative;
    border-bottom: half(1px) solid #ddd;
    &:last-child {
      border: 0;
    }
    .label {
      font-size: half(30px);
      margin: half(20px) half(0px) half(8px) half(20px);
      color: #333b46;
      height: half(35px);
      line-height: half(35px);
      @include omit;
      width: half(474px);
    }
    .imgs {
      color: #1a8dff;
      margin:0 auto;
      width: half(30px);
      height: half(30px);
    }
    .img{
      margin:0 auto;
      height: 20px;
      width: 20px;
    }
    .info {
      margin: half(8px) half(8px) half(8px) half(135px);
      .desc {
        color: #bbc0cb;
        font-size: half(26px);
        @include omit;
        width: half(300px);
        line-height: half(26px);
        margin-bottom: half(15px);
      }
    }
    .btn {
      margin-left: half(509px);
    }
  }
}
